<nav>
<p>
    <a class="nav-links" href="/"><li>Home</li></a>
    <a class="nav-links" href="/profile"><li>profile</li></a>
   <a href="/auth/instagram">Login</a>
    <a class="nav-links" href="/logout"><li>logout</li></a>
    </p>
</nav>